version: '2'
services:
  academy-proxy:
    image: jscastel97/proxy_inverse  
    depends_on:
      - api-gateway
    ports:
      - "80:80"
  api-gateway:
    image: jscastel97/api
    environment:
      PORT: '5000'
      SHOW_URLS: 'true'
      STATISTICS_URL: '35.237.28.248'
      STATISTICS_PORT: '8800'
      STATISTICS_ENTRY: 'statistics'
      LUNCHROOM_URL: '35.196.178.181'
      LUNCHROOM_PORT: '9000'
      LUNCHROOM_ENTRY: 'lunchrooms'
      MENU_URL: '35.190.158.114'
      MENU_PORT: '3000'
      MENU_ENTRY: 'api/menus'
      POST_URL: '104.196.222.74'
      POST_PORT: '8000'
      POST_ENTRY: 'posts'
      TICKETS_URL: '35.237.134.192'
      TICKETS_PORT: '4200'
      TICKETS_ENTRY: 'tickets'
      USERS_URL: '35.227.86.231'
      USERS_PORT: '3000'
      USERS_ENTRY: 'users'

